@model FrontendProyecto.Models.EntradaFirmar;
@{
    ViewData["Title"] = "Proyecto Sistemas Distribuidos";
}

<div class="card mt-2 m-auto" style="max-width: 767px">
    <div class="card-header p-2">
        <h1 class="fs-3 mb-0 text-center">Crear Firma</h1>
    </div>
    <form asp-action="FirmarProxy" asp-controller="firma" method="post">
        <div class="container">
            <div class="row p-3">
                <div class="col-12 mb-3 row">
                    <div class="col-2">
                        <label class="form-label fw-bold fs-6 mb-1">Usuario</label>
                    </div>
                    <div class="col-10">
                        <input required placeholder="Introduce el nombre del usuario" type="text" class="form-control form-control-sm" id="NombreUsuario" name="NombreUsuario" asp-for="NombreUsuario" />
                    </div>
                </div>
                <div class="col-12 mb-3 row">
                    <div class="col-2">
                        <label class="form-label fw-bold fs-6 mb-1">Mensaje</label>
                    </div>
                    <div class="col-10">
                        <input required placeholder="Introduce el mensaje" type="text" class="form-control form-control-sm" id="Mensaje" name="Mensaje" asp-for="Mensaje" />
                    </div>
                </div>
                <div class="col-12 mb-3 row">
                    <div class="col-2">
                        <label class="form-label fw-bold fs-6 mb-1">Clave</label>
                    </div>
                    <div class="col-10">
                        <input required placeholder="Introduce la clave del usuario" type="text" class="form-control form-control-sm" id="Clave" name="Clave" asp-for="Clave"/>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <button type="submit"  style="background-color: #244a76" class="border-0 w-100 btn btn-primary btn-sm">Firmar</button>
                    </div>
                </div>
                @if (Context.Request.Query["message"].Count() > 0 && Context.Request.Query["message"] != "NoFirma")
                {
                    <div class="col-12">
                        <div class="alert alert-secondary alert-dismissible fade show p-3 mt-3" role="alert">
                            <h4 class="fs-6 fw-bold text-uppercase">Resultado de la firma</h4>
                            <p class="fs-6 m-0"><b>Clave: </b>@Context.Request.Query["claveFirma"]</p>
                            <p class="fs-6 m-0"><b>Firma: </b>@Context.Request.Query["Firma"]</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <a class="btn-sm btn-secondary border-0 text-center text-decoration-none d-block mt-2 d-flex align-items-center justify-content-center" style="max-width: 120px" asp-action="Integridad" asp-controller="firma" asp-route-claveFirma="@Context.Request.Query["claveFirma"]" asp-route-firma="@Context.Request.Query["Firma"]" asp-route-mensaje="@Context.Request.Query["Mensaje"]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                    <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
                                </svg>
                                <span class="m-1 d-block">
                                    Integridad
                                </span>
                            </a>
                            <a class="btn-sm btn-secondary border-0 text-center text-decoration-none d-block mt-2 d-flex align-items-center justify-content-center" style="max-width: 120px" onclick=descargar()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                                    <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
                                </svg>
                                <span class="m-1 d-block">
                                    Descargar TXT
                                </span>
                            </a>
                        </div>
                    </div>
                }
                else if (Context.Request.Query["message"].Count() > 0)
                {
                    <div class="col-12">
                        <div class="alert alert-secondary text-center alert-dismissible fade show p-3 mt-3" role="alert">
                            <h4 class="fs-6 fw-bold text-uppercase">ERROR AL FIRMAR</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </form>
</div>


<a class="btn-sm btn-secondary border-0 text-center text-decoration-none d-block m-auto mt-4 d-flex align-items-center justify-content-center" style="max-width: 120px" asp-action="Index" asp-controller="">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
    </svg>
    <span class="m-1 d-block">
        Volver
    </span>
</a>

<script>
    function descargar() {


        var datos2 = "clave=" + "@Context.Request.Query["claveFirma"].ToString()" +
            "\nfirma=" + "@Context.Request.Query["Firma"].ToString())";
        var textFileAsBlob = new Blob([datos2], { type: 'text/plain' });
        var downloadLink = document.createElement("a");
        downloadLink.download = "Firma.txt";
        downloadLink.innerHTML = "Download File";
        if (window.webkitURL != null) {
            downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
        }
        else {
            downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
            downloadLink.onclick = destroyClickedElement;
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
        }

        downloadLink.click();
    }

</script>